<div fxLayout="column" class="email-popup" [ngClass]="expandWindow ? 'fullwindow' : ''" [style.width]="fullwindowWidth"
  [style.min-height]="fullwindowHeight" [style.margin]="fullwindowMargin">
  <!-- header -->
  <div fxLayout="row" class="dialog-header" fxLayoutAlign="center center">
    <div fxFlex="10" fxLayoutAlign="start center">
      <mat-icon class="icon-white icon-20 cursor ml-10" matTooltip="shrink" svgIcon="{{expandshrinkIcon}}" (click)="expandEmail()">
      </mat-icon>
      <mat-icon class="icon-white icon-20 cursor ml-5" svgIcon="{{minmaxIcon}}" (click)="minimizeEmail()"></mat-icon>
    </div>
    <p fxFlex="81" fxLayoutAlign="center center" class="fontsize-14">New Message</p>
    <a fxFlex="9" fxLayoutAlign="end center" class="close">
      <mat-icon class="icon-white icon-20 cursor" matTooltip="close" svgIcon="close" (click)="closeShowEmail()"></mat-icon>
    </a>
  </div>
  <!-- Body form -->
  <div fxLayout="column" fxFlex="100" class="form-container flex-basis" [style.display]="minimizeHeight">
    <form [formGroup]="emailForm" class="mb-20" fxLayout="column">
      <mat-form-field fxLayout="column" fxFlex="100" class="flex-basis">
        <!-- <input matInput placeholder="To"> -->
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let item of prospectEmailList" [selectable]="selectable" [removable]="removable"
            (removed)="remove(item)">
            {{item.fullName}}
            <mat-icon matChipRemove *ngIf="removable" matTooltip="close" svgIcon="close"></mat-icon>
          </mat-chip>
          <input placeholder="To" #directEmailInput formControlName="to" [formControl]="directEmailCtrl"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
      <mat-form-field fxLayout="column" fxFlex="100" class="flex-basis">
        <textarea maxlength="120" #emailSubjectInput formControlName="subject" matInput placeholder="Subject Line">
        </textarea>
      </mat-form-field>
    </form>
    <ng-content></ng-content>
    <!-- Footer buttons -->
    <div class="btn-row pt-24" fxLayout="row">
      <div fxFlex="30" fxLayoutAlign="start center">
        <button type="button" mat-stroked-button class="nav-btn" (click)="closeShowEmail()">CANCEL</button>
      </div>
      <div fxFlex="70" fxLayoutAlign="end center">
        <button type="button"  id="save_bttn" mat-stroked-button class="save-btn nav-btn" (click)="onSave()">SAVE</button>
        <button type="button"  id="send_bttn" mat-flat-button class="nav-btn" (click)="onSend()">SEND</button>
      </div>
    </div>
  </div>
</div>