<div class="template-bg" fxLayout="column">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center">
    <button *ngIf="id !== ''" type="button" mat-stroked-button (click)="confirmChange()">
      CHANGE TEMPLATE
    </button>
    <button *ngIf="id !== ''" type="button" mat-flat-button (click)="getThumbnail('PREVIEW')"
      [disabled]="template.name === '' || template.category === ''">
      PREVIEW TEMPLATE
    </button>
    <button *ngIf="id === ''" type="button" mat-stroked-button (click)="getThumbnail('PREVIEW')"
      [disabled]="template.name === '' || template.category === ''">
      PREVIEW TEMPLATE
    </button>
    <button *ngIf="id === ''" type="button" mat-flat-button (click)="getThumbnail('SAVE')"
      [disabled]="template.name === '' || template.category === ''">
      SAVE
    </button>
  </div>
  <hr class="mb-3em mt-1em border-template">
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between">
    <div class="left-content" fxLayout="column">
      <div class="tiny-content-section" id="tiny-content-section">
        <mat-card class="card-img">
          <mat-card-content id="template">
            <editor [init]="tinyMCEConfig" [(ngModel)]="template.htmlContent"></editor>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <h3 [matBadge]="template?.category.charAt(0)" matBadgePosition="after" class="mb-5">
              {{template.name || 'Template Name'}}
            </h3>
            <p class="fontsize-12">Created by: {{template.createdBy || 'Current User'}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div *ngIf="editable" class="right-content" fxLayout="row" fxFlex="37" fxLayoutAlign="start center">
      <div>
        <!--editor text HTML changes if needed-->
      </div>
      <form #templateForm="ngForm" class="edit-template" fxLayout="column" fxFlex="100">
        <mat-form-field fxLayout="row" class="mb-2em" fxFlex="100">
          <input name="name" matInput placeholder="Name Your Template" [(ngModel)]="template.name" required>
        </mat-form-field>
        <mat-form-field fxLayout="row" fxFlex="100">
          <mat-select name="category" disableRipple placeholder="Select Your Template Category"
            [(ngModel)]="template.category" required>
            <mat-option *ngFor="let category of templateCategoriesList" [value]="category.code">
              {{category.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</div>