<div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" class="mt-15 pagination">
  <p class="fontsize-12 dark" *ngIf="paginationFor">
    {{ paginationFor }} per page
  </p>
  <select (change)="updatePageSize()" [(ngModel)]="pageSize" aria-label="Select page size">
    <option *ngFor="let size of pageSizeOptions" value="{{ size }}">{{
      size
    }}</option>
  </select>
  <p class="fontsize-12 dark">Go to page</p>
  <input class="m-0" min="1" [max]="totalSize" (blur)="updateMaxNumber()" type="number" aria-label="Go to page"
    placeholder="{{ currentPage }}" [(ngModel)]="currentPage" />
  <p class="fontsize-12 dark">of {{ totalSize }}</p>
  <p fxFlex="1" class="fontsize-12 blue cursor" (click)="jumpToPage(currentPage)">
    GO
  </p>
  <button fxFlex="3" mat-icon-button [disabled]="currentPage === 1" (click)="previousPage()" aria-label="Previous Page">
    <mat-icon [ngClass]="currentPage === 1 ? 'icon-light' : 'icon-dark'" svgIcon="chevron-left"></mat-icon>
  </button>
  <button fxFlex="4" mat-icon-button [disabled]="currentPage === totalSize" (click)="nextPage()" aria-label="Next Page">
    <mat-icon [ngClass]="currentPage === totalSize ? 'icon-light' : 'icon-dark'" svgIcon="chevron-right"></mat-icon>
  </button>
</div>