@import '../../../../scss/variables.scss';
.background-overlay {
  width: 900px;
  height: 250px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 99999;
  padding: 20px;

  &:after {
    position: fixed;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba($color: $black, $alpha: 0.5);
    z-index: 0;
  }
  .popup-inner {
    width: 100%;
    background: $white;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    padding: 48px 32px 24px;

    .close-icon {
      top: 15px;
      right: 5px;
      position: absolute;
    }

    .mat-checkbox-frame {
      border-color: $lite !important;
    }

    button.nav-btn {
      margin: 24px 12px;
    }
  }
}
