<div class="background-overlay">
  <div class="popup-inner" fxLayout="column">
    <mat-icon fxFlex="5" fxLayoutAlign="end center" class="close-icon cursor" matTooltip="close" svgIcon="close"
      (click)="onNo()"></mat-icon>
    <div fxLayout="column" fxFlexAlign="start center">
      <p fxFlex="93" class="dark m-0 mb-15 pr-24 pl-24 wrap-word">Are you sure, you want to <b>{{message}}</b> the Campaign?</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="pl-24 pr-20">
      <mat-checkbox (change)="checkboxselected($event)" class="fontsize-12">Check this box, If you dont want to see this
        message again</mat-checkbox>
      <div fxLayout="row">
        <button class="m-0 nav-btn" mat-stroked-button (click)="onNo()">NO</button>
        <button class="m-0 nav-btn" mat-flat-button (click)="onYes()">YES</button>
      </div>
    </div>
  </div>
</div>