<div fxLayout="column">
  <div class="close-icon cursor" fxLayoutAlign="end center"  *ngIf="data.closeButton; else closeButton;">
    <mat-icon fxFlex="5" matTooltip="close" svgIcon="close" mat-dialog-close (click)="close()"></mat-icon>
  </div>
  <ng-template #closeButton>
      <mat-icon  fxFlex="5" matTooltip="close" svgIcon="close" mat-dialog-close (click)="close('Yes')"></mat-icon>
  </ng-template>
  
  <div fxLayout="column" fxFlexAlign="start center">
    <p class="dark m-0 mb-15" [innerHtml]="data.message"></p>
  </div>
  <div class="mt-20" fxLayoutAlign="end center" *ngIf="!data.disableButtons">
    <button class="m-0 nav-btn"  id="no_bttn" mat-stroked-button (click)="close('No')">{{data.rejectText || 'Cancel'}}</button>
    <button class="m-0 nav-btn"  id="yes_bttn" mat-flat-button (click)="close('Yes')">{{data.acceptText || 'Ok'}}</button>
  </div>
</div>