<div class="isSearchSaveLoading" *ngIf="isSearchSaveLoading">
  <mat-spinner diameter="80"></mat-spinner>
</div>

<ng-container *ngIf="!isSearchSaveLoading">
  <div class="close_save_popup flex-basis" fxFlex="100" fxLayout="column">
    <p fxFlex="100" class="fontsize-20 fontweight-6 flex-basis">Save search as</p>
    <mat-form-field fxFlex="100" class="flex-basis w-100">
      <mat-label>Query Name *</mat-label>
      <input matInput [formControl]="searchQueryName" (input)="onSearchQueryChange()">
    </mat-form-field>
    <mat-error>
      <span *ngIf="errorMessage">{{errorMessage}}</span>
    </mat-error>
    <div class="mt-20 flex-basis" fxFlex="100" fxLayoutAlign="end center">
      <button mat-raised-button class="prospect-button" (click)="closeSearch();">No</button>
      <button mat-raised-button [disabled]="isSaveIconDisabled"
        [ngClass]="isSaveIconDisabled  ? 'fade-out' : 'prospect-button bg-blue'" (click)="saveSearch();">Yes</button>
    </div>
  </div>
</ng-container>