@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';
@import '../../../../scss/search.scss';

.close_save_popup {
  display: block !important;
  padding: 24px;  
  .w-100{
    width: 100%;
  }
  p {
    color: $dark;
    margin: 0;    
  }
  button {
    border: solid 2px $secondary-color;
    text-transform: uppercase;
    margin-left: 10px;
  }

  /deep/ .mat-form-field-appearance-legacy .mat-form-field-underline {
    background: $border-color;
  }
  /deep/ .mat-form-field-appearance-legacy .mat-form-field-ripple {
    background: $secondary-color;
  }

  .bg-blue {
    background: $secondary-color !important;
    color: $white !important;
  }
}

.isSearchSaveLoading {
  margin: auto;
  padding-top: 12%;
}
