@import "../../../../scss/variables.scss";
@import "../../../../scss/mixins.scss";

.card-section {
  width: 275px;
  height: 350px;
  border: 2px solid $medium;
  margin-right: 20px;
  //margin-bottom: 20px;
  //margin: 0 20px 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);

  .bookmark {
    position: absolute;
    right: -7px;
    top: -8px;
    width: 10%;
    height: 10%;
  }

  .img-content {
    overflow: hidden;
    border: 1px solid $lite;
    display: block !important;
  }

  .create-new-template {
    text-align: center;

    .add-circle {
      color: $primary-color;
      font-size: 60px;
      width: auto;
      height: auto;
    }

    p {
      color: $primary-color;
      margin: 0;
    }
  }

  .mat-card-image {
    &:first-child {
      margin: 0;
    }

    width: 100%;
    max-width: 100%;
    margin: 0;
    max-height: fit-content;
  }

  .mat-card-content {
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid $lite;
    padding: 5px;

    p {
      font-size: 12px;
      margin: 0 0 5px;

      b {
        font-size: 14px;
        font-weight: 600;
        padding-right: 25px;
        white-space: nowrap;
        line-height: 24px;
        color: $black;
        //overflow-x: hidden;
        text-overflow: ellipsis;
        //min-height: 30px;
      }
    }
  }

  .mat-badge-medium {
    .mat-badge-content {
      background-color: $dark-blue;
    }

    &.mat-badge-overlap.mat-badge-after .mat-badge-content {
      right: 0;
      top: 5px;
      font-weight: 100;
    }
  }

  .mat-card {
    padding: 10px;
    font-family: $font-stack;
    border-radius: 0;

    .bevealed-text {
      height: 25px;
      width: auto;
      background: $purple;
      color: $white;
      position: absolute;
      top: -2px;
      left: -22px;
      padding: 0 40px 0 10px;
      font-size: 12px;
      font-weight: 600;
      margin: 0 20px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -25px;
        border: 12.5px solid $purple;
        border-bottom-color: transparent;
        border-right-color: transparent;
        top: 0;
      }
    }
  }
}


.card-section-zoom {
  width: 400px;
  height: 475px;
  border: 2px solid $medium;
  //margin-right: 20px;
  //margin-bottom: 20px;
  //margin: 0 20px 20px 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);

  .img-content {
    overflow: hidden;
    border: 1px solid $lite;
    display: block !important;
  }

  .bookmark {
    position: absolute;
    right: -7px;
    top: -8px;
    width: 10%;
    height: 10%;
  }

  .create-new-template {
    text-align: center;

    .add-circle {
      color: $primary-color;
      font-size: 60px;
      width: auto;
      height: auto;
    }

    p {
      color: $primary-color;
      margin: 0;
    }
  }

  .mat-card-image {
    &:first-child {
      margin: 0;
    }

    width: 100%;
    max-width: 100%;
    margin: 0;
    max-height: fit-content;
    //border: 1px solid $lite;
  }

  .mat-card-content {
    margin-bottom: 0;
    margin-top: 10px;
    border: 1px solid $lite;
    padding: 5px;

    p {
      font-size: 12px;
      margin: 0 0 5px;

      b {
        font-size: 14px;
        font-weight: 600;
        line-height: 24px;
        color: $black;
      }
    }
  }

  .mat-badge-medium {
    .mat-badge-content {
      background-color: $dark-blue;
    }

    &.mat-badge-overlap.mat-badge-after .mat-badge-content {
      right: 0;
      top: 10px;
      font-weight: 100;
    }
  }

  .mat-card {
    padding: 10px;
    border-radius: 0;

    .bevealed-text {
      height: 25px;
      width: auto;
      background: $purple;
      color: $white;
      position: absolute;
      top: -2px;
      left: -22px;
      padding: 0 40px 0 10px;
      font-size: 12px;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        right: -25px;
        border: 12.5px solid $purple;
        border-bottom-color: transparent;
        border-right-color: transparent;
        top: 0;
      }
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}
