<!-- <header class="header">
  <div>
    <span class="align-right"><i class="fa fa-caret-down"></i></span>
    <span class="align-right"><i class="fa fa-user-circle-o"></i></span>
    <span class="align-right"><i class="fa fa-bell"></i></span>
  </div>
</header> -->

<mat-toolbar>
  <div class="toolbar-icon">
    <mat-icon  class="cursor" svgIcon="alert" matTooltip="Notification"></mat-icon>
    <mat-icon  class="cursor" svgIcon="profile" matTooltip="Profile" (click)="validateUser()">user</mat-icon>
  </div>
</mat-toolbar>