.add-popup {
  padding: 20px;

  p {
    padding: 0;
    margin: 0;
  }
  .drks {
    color: #263343 !important;
  }
  .txtarea {
    height: 120px;
    margin: 10px 0;
    padding: 10px;
    resize: none;
  }
  .max-hgt {
    max-height: 30px !important;
  }
}
