@import '../../../../scss/mixins.scss';
@import '../../../../scss/variables.scss';

.tree-layer {
  display: inline-block;

  .hover-tree {
    position: relative;

    &.displayColor {
      padding-left: 0px;
      background: $secondary-color;
      font-weight: 600;
      color: $white;

      &:hover {
        background: $secondary-color;
        color: $white;
      }

      .displayIcon {

        .alwaysDisplay,
        .icon-show,
        .text-ellip1 {
          background: $secondary-color;

          .mat-icon {
              color: #fff !important;
          }
        }
      }
    }

    .displayIcon {
      width: 100%;
      position: relative;
      min-width: 412px;

      .text-ellip1 {
        display: inline-block;
      }

      .text-ellip {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 230px;
        display: inline-block;
        position: relative;
        top: 5px;
        padding: 0 8px 0 5px;
      }

      .tree-node-text {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .alwaysDisplay,
      .icon-show {
        position: relative;
        top: 0;
        right: 0;
        background: $primary-active-bg;
        display: none;
        bottom: 0;
        padding-top: 2px;
      }

      .alwaysDisplay.icon-show {
        display: inline-block;
      }

      .mat-icon-rtl-mirror.mat-icon {
        color: $dark-grey;
      }
    }

    &:hover {
      background: $primary-active-bg;

      .displayIcon {
        .icon-show {
          display: inline-block;
        }

        .text-ellip {
          max-width: 230px;
        }
      }
    }
  }
}
